.new-post-submission{
    margin: 0 auto;
    text-align: center;   
}
.submit-reset-button-wrapper{
    margin: 10px auto;
}
.button-for-sub{
    margin: 0 20px;
}
.button-for-res{
    margin: 0 20px;
}