.render-post {
  margin: 10px;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;}
.post-title {
    margin: 10px;
    font-size: 26px;
    font-family: 'Gudea', sans-serif;}
.day-of-post {
    margin: 10px;
}

