.post-title {
    margin: 10px;
    font-size: 26px;
    font-family: 'Gudea', sans-serif;}
.day-of-post {
    margin: 10px;
}
.post-post-title{
    margin: 10px;
    font-size:20px;
    font-family: 'Roboto', sans-serif;
}