* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #011627;
  margin: 0;
}

.header-container{
  margin-top: 10px;
  margin-bottom: 20px;
}
.welcome-screen-title {
  font-size: 50px;
  text-decoration: underline;
  text-align: center;
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  color: #011627;
}

.nav-links {
  background-color: rgba(112,0,0,0.9);
  text-align: center;
  margin: 10px auto;
  padding: 15px;

}
.link-wrapper{
  display: inline;
  margin: 0 20px;
}

.link{
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
}

.link:hover{
  color: #FF9F1C;
  font-style: bold;
  text-decoration: none;

}

.button{
  border-radius: 0 !important;
}



/* .App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
